<!-- Content Wrapper. Contains page content -->
<div class="content-wrapper">
  <!-- Content Header (Page header) -->
  <div class="content-header">
    <div class="container-fluid">
      <div class="row mb-2">
        <div class="col-sm-6">
          <h1 class="m-0">Dashboard</h1>
        </div>
      </div>
      <!-- /.row -->
    </div>
    <!-- /.container-fluid -->
  </div>
  <!-- /.content-header -->
  <!-- Main content -->
  <section class="content">
    <div class="container-fluid">
      <!-- Info boxes -->
      <div class="row">
        <div class="col-12 col-sm-4 col-md-4">
          <div id="newFamily" class="info-box">
            <%= link_to new_dashboard_family_path, remote: true, class:"btn btn-app bg-success mt-2" do %>
              <i class="far fa-plus-square"></i> Adicionar
            <% end %>
          </div>
          <!-- /.info-box -->
        </div>
        <div class="col-12 col-sm-4 col-md-4">
          <div id="editFamily" class="info-box" style="display: none !important">
          </div>
          <!-- /.info-box -->
        </div>
      </div>
      <div class="table-responsive">
        <table id="familyTable" class="table table-hover">
          <thead>
            <tr>
              <th scope="col">#</th>
              <th scope="col">Descrição</th>
              <th scope="col">Ações</th>
            </tr>
          </thead>
          <tbody>
            <% @families.each do |family| %>
              <tr>
                <th scope="row"><%= family.id %></th>
                <td><%= family.description %></td>
                <td>
                  <%= link_to edit_dashboard_family_path(family), onclick:"editshow()", remote: true, class:"btn btn-info", data: {toggle:"tooltip", placement:"top"}, title:"Editar Grupo" do %>
                    <i class="far fa-edit"></i>
                  <% end %>
                  <%= link_to dashboard_family_path(family), class:"btn btn-danger", method: :delete, data:
                                                         {confirm: "Tem certeza disso? Ao excluir o Grupo excluira todos os produtos vinculados",
                                                         toggle:"tooltip", placement:"top"}, title:"Excluir Grupo" do %>
                    <i class="far fa-trash-alt"></i>
                  <% end %>
                </td>
              </tr>
            <% end %>
          </tbody>
        </table>
      </div>
      <!-- /.row -->
    </div>
    <!--/. container-fluid -->
  </section>
  <!-- /.content -->
</div>
<!-- /.content-wrapper -->
<!-- Main Footer -->
</div>
<script>
  document.addEventListener('turbolinks:load', function() {
    $('#familyTable').DataTable();
  });

  function editshow() {
  document.getElementById("editFamily").style.display = "flex";
  }
</script>
