<% @layoutpdf.each do |lay| %>
<section style="width: 100%;
background-color: <%= lay.color_header %>; margin-top: -20px; min-height:80px; "> 


<% if lay.type_logo == '2'  %>
   <div class="header-pdf" style="min-height: 40px;display:flex;
 
   -webkit-box-pack: center; 
   -webkit-justify-content: center;
    
                  justify-content:center;
                  -webkit-box-pack: center;
                  text-align: center;
                   -webkit-flex-direction: row-reverse; 
                  vertical-align: middle;
                  padding-top:10px;
                  padding-bottom:10px;
                  
                  ">

                  <div class="header-img" style="">
                  <% @companies.each do |comp| %>
                     
                        <% if comp.photo_company.attached? %>
                           <%= image_tag comp.photo_company, class: "img-fluid", width: '80', style:"
                           max-width: 100px;
                           max-height: 100px;
                           display:block;
                           align-self: center;
                           -webkit-justify-content: center;
                           justify-content:center;
                           -webkit-box-pack: center;"%>
                           <% else %>
                           <%= image_tag 'file://#{File.expand_path("public/app/assets/images/sem-imagem.jpg")}', class:"img-fluid img-item", style:"max-width: 100px;
                           max-height: 139px; " %>
                        <% end %>
                  
                  
                  </div>
                  <div class="header-title">
                   <p style="width:300px;color:white;font-weight:700;margin: auto;margin-top: 10px;padding-top:30px;"> 
                     <%= Manufacturer.find(@query.first.manufacturer_id).description %> - <%= Group.find(@query.first.group_id).description %> 
                   </p> 
                  </div>
                  <% end %>
            
               </div> 



<% end %>

<% if lay.type_logo == '1'  %>
   <div class="header-pdf" style="display: -webkit-flex;
   display: flex;
   -webkit-box-pack: center; /* wkhtmltopdf uses this one */
   -webkit-justify-content: center;
           justify-content: center;
           -webkit-flex-direction: row-reverse; 
                  
                  ">
                  <div class="header-title">
                  <p style="width:300px;color:white;font-weight:700;margin: auto;margin-top: 10px;padding-top:30px;"> 
                  <%= Manufacturer.find(@query.first.manufacturer_id).description %> - <%= Group.find(@query.first.group_id).description %> 
                  </p> 
                 </div>
                  
                  <div class="header-img" style="">

                  <% @companies.each do |comp| %>
                    
                        <% if comp.photo_company.attached? %>
                           <%= image_tag comp.photo_company, class: "img-fluid", width: '80', style:"
                           max-width: 100px;
                           max-height: 100px;
                           display:block;
                           align-self: center;
                           -webkit-justify-content: center;
                           justify-content:center;
                           -webkit-box-pack: center;"%>
                           <% else %>
                           <%= image_tag 'file://#{File.expand_path("public/app/assets/images/sem-imagem.jpg")}', class:"img-fluid img-item", style:"max-width: 100px;
                           max-height: 139px; " %>
                        <% end %>
                  
                  
                  </div>
                  
                  <% end %>
            
               </div> 


<% end %>


 
</section>


<section class="container mt-">


        <% @query.each do |product| %>
          
          <figure style="width: 180px;
          justify-content: center;
          align-items:center;
          height:auto;
          background: white;
          margin-right: 10px;
          margin-top: 20px;
          ">
      <div style="margin-top: 20px;
          margin-bottom: 20px;">
              <% if product.photo_product.attached? %>
                <a style="     display: flex;
                 min-height:180px;
                 display: -webkit-box; /* wkhtmltopdf uses this one */
                 -webkit-justify-content: center;
                display: flex;
                -webkit-box-pack: center; /* wkhtmltopdf uses this one */
                justify-content: center;
                 
                ">
                  <%= image_tag  product.photo_product, style:'
                   
                  text-align: center;
                  width:auto;
                  height:auto;
                  object-fit: cover;
                  display:block;
                  align-self: center;
                  -webkit-justify-content: center;
                  justify-content:center;
                  -webkit-box-pack: center;
                  align-items: center; 
                  
                  ', title: 'image' %>
                </a>
                <% else %>
                <a style="    display:block;display: flex;
                height: 180px;-webkit-justify-content: center;
                justify-content:center;-webkit-box-pack: center;text-align: center;>
                <%= image_tag '/no_image.jpg', class:"img-fluid img-item", style:'
                max-width: 180px;
                max-height: 180px;
                display:block;
                align-self: center;
                -webkit-justify-content: center;
                  justify-content:center;
                  -webkit-box-pack: center;
                  text-align: center;
                ' %>
                </a>
              <% end %>
              <div class="prod-description" style="text-align: center;font-weight: 700;padding-top: 15px;"> <%= product.code_prod %> - <%= product.desc_prod %> </div>
              <div class="prod-description" style="color:red;  text-align: center;font-weight: 300;padding-top: 15px;"> <%= product.qtde_prod %>  </div>
              <div class="prod-description" style="margin-left: 5px; padding-top: 15px;"> <strong>Ean:</strong> <%= product.ean_prod %>  </div>
              <div class="prod-description" style="margin-left: 5px; padding-top: 15px;"> <b>Dun:</b> <%= product.dun_prod %>  </div>
              <div class="prod-description" style="margin-left: 5px; padding-top: 15px;"> <b>Ncm:</b> <%= product.desc_fiscal.force_encoding('UTF-8') %>  </div>

              </div>
          
              
        </figure>
        
        <% end %>
</section>
<section style="width: 100%;
background-color: <%= lay.color_header %> ;
margin-top: 20px;
min-height:65px; "> 

      <div class="header-title">
       <p style="width:100%;text-align:center;color:white;font-weight:700;margin-top:20px;margin-left:20px; padding-top:12px;padding-bottom:12px;">
        <%= Company.first.fantasy_name %> - <%= Company.first.phone %> <br> <%= Company.first.site %> - <%= Company.first.email %> 
       </p> 
      </div>

   </div>  
</section>
<% end %>
