<section style="width: 100%;
background-color: #2c2c8e;
margin-top: -20px;
height: 50px;"> 
   <div class="header-pdf" >
      <div class="header-img">
      </div>
      <div class="header-title">
       <p style="color:white;font-weight:700;margin-top:10px;margin-left:20px;"> Demonstrativo de Produtos </p> 
      </div>

   </div>  
</section>

<section class="container mt-" style=" background-color:rgb(241,241,241); ">

        <% @query.each do |product| %>
          <figure style="width: 200px;
          justify-content: center;
          align-items:center;
          height:auto;
          background: white;
          margin-right: 10px;
          margin-top: 20px;
          ">
      <div style="margin-top: 20px;
          margin-bottom: 20px;">
              <% if product.photo_product.attached? %>
                <a style="    display:block;display: flex;
                height: 180px;
                ">
                  <%= image_tag url_for(product.photo_product), style:'
                  max-width: 180px;
                  max-height: 180px;
                  display:block;
                  align-self: center;
                  
                  ', title: 'image' %>
                </a>
                <% else %>
                <a style="    display:block;display: flex;
                height: 180px;>
                <%= image_tag '/no_image.jpg', class:"img-fluid img-item", style:'
                max-width: 180px;
                max-height: 180px;
                display:block;
                align-self: center;
                
                ' %>
                </a>
              <% end %>
              <div class="prod-description" style="text-align: center;font-weight: 700;padding-top: 15px;"> <%= product.code_prod %> - <%= product.desc_prod %> </div>
              <div class="prod-description" style="color:red;  text-align: center;font-weight: 300;padding-top: 15px;"> <%= product.qtde_prod %>  </div>
              <div class="prod-description" style="text-align: center;font-weight: 300;padding-top: 15px;"> <%= product.ean_prod %>  </div>
              <div class="prod-description" style="text-align: center;font-weight: 300;padding-top: 15px;"> <%= product.dun_prod %>  </div>
              <div class="prod-description" style="text-align: center;font-weight: 300;padding-top: 15px;"> <%= product.desc_fiscal %>  </div>



              </div>
          
              
        </figure>
        
        <% end %>
</section>
<section style="width: 100%;
background-color: #2c2c8e;
height: 50px;"> 
   <div class="header-pdf" >
      <div class="header-img">
      </div>

   </div>  
</section>