<div class="container-fluid news justify-content-center">
  <div class="row py-5">
    <div class="card border-0">
      <div class="card-body pt-5 pb-5 text-center ">
        <h3><b>Fique por dentro das novidades</b></h3>
        <p class="pl-0 ml-0 mb-5">Cadastre seu e-mail para receber.</p>
        <div class="row text-center justify-content-center">
          <div class="col-auto">
            <div class="input-group-lg input-group mb-3 "><input type="text" class="form-control" placeholder="Enter your e-mail address" aria-label="Recipient's username" aria-describedby="button-addon2">
              <div class="input-group-append"><button class="btn btn-success" type="button" id="button-addon2"> <b>Submit</b></button></div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <footer>
    <div class="row justify-content-around mb-0 pt-2 pb-5 ">
      <div class="col-12 text-center">
        <div class="row justify-content-center">
          <div class="col-12 font-italic align-items-center mt-md-3 mt-4">
            <% if @company.photo_company.attached? %>
              <%= link_to root_path do %>
                <h5><span> <%= image_tag @company.photo_company, class: "img-fluid mb-1" %> </span></h5>
              <% end %>
            <% else %>
              <%= link_to root_path do %>
                <%= image_tag 'sem-imagem.jpg', style:"max-width: 300px; max-height: 100px;", class: "navbar-brand" %>
              <% end %>
            <% end %>
            <p class="social mt-md-3 mt-2">
              <span><i class="fab fa-facebook-square"></i>
              </span> <span><i class="fab fa-linkedin"></i>
              </span> <span><i class="fab fa-instagram-square"></i></span>
            </span> <span><i class="fab fa-youtube-square"></i></span>
          </p>
          <small class="copy-rights cursor-pointer">&#9400;  <%= Date.current.year %> - <%= @company.fantasy_name %></a></small><br>
        <small>All rights reserved. Created by <a href="#">Meu Catalogo</a> </small>
      </div>
    </div>
  </div>
</div>
</footer>
</div>
<div class="help-button-wrapper">
  <ul class="help-list">
       <% if @company.financial? %>
        <li><a href="https://api.whatsapp.com/send?phone=55<%= @company.contacts.first.phone %>&text=Ol치,%20meu%20amigo!" target="_blank"><i class="fas fa-dollar-sign"></i> Finaceiro</a></li>
      <% end %>
      <% if @company.commercial? %>
        <li><a href="https://api.whatsapp.com/send?phone=55<%= @company.contacts.first.phone %>&text=Ol치,%20meu%20amigo!" target="_blank"><i class="fas fa-cart-plus"></i> Comercial</a></li>
      <% end %>
      <% if @company.logistic? %>
        <li><a href="https://api.whatsapp.com/send?phone=55<%= @company.contacts.first.phone %>&text=Ol치,%20meu%20amigo!" target="_blank"><i class="fas fa-cart-plus"></i> Logistica</a></li>
      <% end %>
      <% if @company.administrative? %>
        <li><a href="https://api.whatsapp.com/send?phone=55<%= @company.contacts.first.phone %>&text=Ol치,%20meu%20amigo!" target="_blank"><i class="fas fa-cart-plus"></i> Administrativo</a></li>
      <% end %>
  </ul>
  <button class="help-button">
    <span><i class="fab fa-whatsapp"></i></span>
  </button>
</div>
<script>
  $(".help-button").on("click", function() {
      $(".help-button-wrapper").toggleClass("expanded");
  });
</script>
