<div class="header-top bg-light py-3">
  <div class="container">
    <nav class="navbar navbar-light justify-content-between">
      <% if @company.photo_company.attached? %>
        <%= link_to root_path do %>
          <%= image_tag @company.photo_company,title: @company.fantasy_name, style:"max-height: 100px;", class: "navbar-brand" %>
        <% end %>
      <% else %>
        <%= link_to root_path do %>
          <%= image_tag 'sem-imagem.jpg', style:"max-width: 300px; max-height: 100px;", class: "navbar-brand" %>
        <% end %>
      <% end %>
      <form class="form-inline">
        <%= search_form_for @q do |f| %>
          <%= f.search_field :code_or_description_or_ean_or_dun_or_display_cont, class:"form-control mr-2", type:"search", placeholder:"Buscar" %>
          <%= f.submit "Buscar", class:"btn btn-outline-dark my-2 my-sm-0" %>
        <% end %>
      </form>
      <div>
        <%= link_to dashboard_path, class: "nav-link btn btn-outline-dark my-2 my-sm-0" do %>
          <i class="fas fa-user"></i>
          Login
        <% end %>
      </div>
    </nav>
  </div>
</div>
