      <!-- Main Sidebar Container -->
<aside class="main-sidebar sidebar-dark-primary elevation-4">
  <!-- Brand Logo -->
  <a href="index3.html" class="brand-link">
    <%= image_tag 'catalogo.png', class:"brand-image img-circle elevation-3", alt:"Logo", style:"opacity: .8"%>
    <span class="brand-text font-weight-light">Meu Catálogo</span>
  </a>
  <!-- Sidebar -->
  <div class="sidebar">
    <!-- Sidebar Menu -->
    <nav class="mt-2">
      <ul class="nav nav-pills nav-sidebar flex-column" data-widget="treeview" role="menu" data-accordion="false">
        <li class="nav-header">Meu painel</li>
        <li class="nav-item">
          <%= link_to dashboard_groups_path, class:"nav-link" do %>
            <i class="nav-icon far fa-object-group"></i>
            <p>
              Grupo
            </p>
          </a>
        <% end %>
      </li>
      <li class="nav-item">
        <%= link_to dashboard_families_path, class:"nav-link" do %>
          <i class="nav-icon far fa-object-ungroup"></i>
          <p>
            Familia
          </p>
        </a>
      <% end %>
    </li>
    <li class="nav-item">
      <%= link_to dashboard_tax_classifications_path, class:"nav-link" do %>
        <i class="nav-icon fas fa-barcode"></i>
        <p>
          Classificação Fiscal
        </p>
      <% end %>
    </li>
    <li class="nav-item">
      <%= link_to dashboard_products_path, class:"nav-link" do %>
        <i class="nav-icon fas fa-shopping-basket"></i>
        <p>
          Produtos
        </p>
      <% end %>
    </li>
    <li class="nav-header">Administração</li>
    <li class="nav-item">
      <a href="pages/kanban.html" class="nav-link">
        <i class="nav-icon fas fa-users"></i>
        <p>
          Usuários
        </p>
      </a>
    </li>
    <li class="nav-item">
      <a href="pages/kanban.html" class="nav-link">
        <i class="nav-icon fas fa-file-download"></i>
        <p>
          Layout PDF
        </p>
      </a>
    </li>
    <li class="nav-item">
      <a href="pages/kanban.html" class="nav-link">
        <i class="nav-icon far fa-building"></i>
        <p>
          Dados da empresa
        </p>
      </a>
    </li>
  </ul>
</nav>
<!-- /.sidebar-menu -->
</div>
<!-- /.sidebar -->
</aside>
