<%= form_with url: dashboard_layoutpdf_index_path(1) do |f| %>

<div class="p-4">
  <div class="form-row justify-content-lg-center">
      <div class="form-group col-md-12 col-lg-2">
        <%= f.label :color_header %>
        <%= f.color_field :color_header, class: "form-control" %>
      </div>
      <div class="form-group col-md col-lg"></div>
  </div>
  <div class="form-row justify-content-lg-center">
      <div class="form-group col-md-12 col-lg-10">
        <label>Posição da Imagem</label>
        <%= f.select(:type_logo, [['Direita', 1], ['Esquerda', 2]], {}, :class => 'form-control', :id => "type_logo")%>
      </div>
  </div>
</div>

<div class="col-md-12 col-lg-10 offset-lg-1">
  <div class="px-4 mb-4 text-center">
    <%= f.submit class: 'btn btn-success', data: { disable_with: 'Criando....⌛'} %>
    <%= link_to 'Cancelar', dashboard_layoutpdf_index_path, class: "btn btn-danger ml-1" %>
  </div>
</div>

<% end %>
