<div class="content-wrapper">
  <%= render partial: "dashboard/shared/breadcrumb", locals: {title: "Layout PDF"} %>
  <section class="content">
    <div class="container-fluid">
      <div class="row">
        <div class="col-12 col-sm-4 col-md-4">
          <div id="newLay" class="info-box">
            <%= link_to new_dashboard_layoutpdf_path, remote: true, class:"btn btn-app bg-success mt-2" do %>
              <i class="far fa-plus-square"></i> Adicionar
            <% end %>
          </div>
        </div>
      </div>
      <div class="table-responsive">
        <table id="taxTable" class="table table-hover">
          <thead>
            <tr>
              <th scope="col">Cor - Hexadecimal </th>
              <th scope="col">Tipo de Exibição</th>
              <th scope="col">Ação</th>
            </tr>
          </thead>
          <tbody>
            <% @layoutpdf.each do |lay| %>
              <tr>
                <th scope="row"><%= lay.color_header %></th>
                <% if lay.type_logo == '1'  %>
                    <th scope="row"><%= 'Direita' %></th>
                <% else %>
                    <th scope="row"><%= 'Esquerda' %></th>
                <% end %>
                <td>
                  <%= link_to dashboard_layoutpdf_path(lay.id), class:"btn btn-danger", method: :delete, data:
                  {confirm: "Tem certeza disso? ",
                  toggle:"tooltip", placement:"top"}, title:"Excluir Família" do %>
<i class="far fa-trash-alt"></i>
<% end %>
                   
                </td>
              </tr>
            <% end %>
          </tbody>
        </table>
      </div>
    </div>
  </section>
</div>
</div>
<script>
  //document.addEventListener('turbolinks:load', function() {
    $('#layoutpdfTable').DataTable({
    language: {
      url: '/pt_br.json'
    }
    });
  //});
  
  function editshow() {
  document.getElementById("newLay").style.display = "flex";
  }
</script>
