<div class="nested-fields">
  <div class="form-group">
    <%= ff.label :phone %>
    <%= ff.text_field :phone, class: "form-control" %>
  </div>
  <div class="form-group">
    <%= ff.label :message %>
    <%= ff.text_field :message, class: "form-control" %>
  </div>
  <div class="form-group">
    <%= ff.label :commercial %>
    <%= ff.check_box :commercial, class: "form-control" %>
  </div>
  <div class="form-group">
    <%= ff.label :financial %>
    <%= ff.check_box :financial, class: "form-control" %>
  </div>
  <div class="form-group">
    <%= ff.label :logistics %>
    <%= ff.check_box :logistics, class: "form-control" %>
  </div>
  <div class="form-group">
    <%= ff.label :administrative %>
    <%= ff.check_box :administrative, class: "form-control" %>
  </div>
      <div class="col-md-2">
      <label for="">Remover linha</label>
      <%= link_to_remove_association 'remover', ff, class: "btn btn-danger" %>
    </div>
</div>
