<section>
  <div class="container">
    <%= form_with model: [:dashboard, @user], multipart: true do |f| %>
      <div class="row justify-content-center">
        <div class="col-12 col-md-4 col-lg-4 col-xl-4">
          <div class="profile-photo-div" id="profile-photo-div">
            <div class="profile-img-div" id="profile-img-div" style="height: 250px;">
              <div id="loader"></div>
              <img id="profile-img" src="https://s3.amazonaws.com/FringeBucket/default-user.png">
              <input id="x-position" type="range" name="x-position" value="0" min="0">
              <input id="y-position" type="range" name="y-position" value="0" min="0">
            </div>
            <div class="profile-buttons-div">
              <div class="profile-img-input" id="profile-img-input">
                <label class="button" id="user_photo_profile-label" for="user_photo_profile">UPLOAD PHOTO</label>
                <%= f.file_field :photo_profile, id: "user_photo_profile", name: "user_photo_profile", type: "file", style: "display: none;", accept:"image/*" %>
              </div>
              <div class="profile-img-confirm" id="profile-img-confirm" style="display: none;">
                <div class="button half green" id="save-img"><i class="fa fa-check" aria-hidden="true"></i></div>
                <div class="button half red" id="cancel-img"><i class="fa fa-remove" aria-hidden="true"></i></div>
              </div>
            </div>
          </div>
          <div class="error" id="error">min sizes 400*400px</div>
          <canvas id="croppedPhoto" width="400" height="400"></canvas>
        </div>
        <div class="col-12 col-md-8 col-lg-8 col-xl-6">
          <div class="row align-items-center mt-4">
            <div class="col">
              <%= f.label :name %>
              <%= f.text_field :name, class: "form-control", type: "text", placeholder: "E-mail" %>
            </div>
          </div>
          <div class="row align-items-center">
            <div class="col mt-4">
              <%= f.label :email %>
              <%= f.text_field :email, class: "form-control", type: "email", placeholder: "Nome" %>
            </div>
          </div>
          <div class="row align-items-center mt-4">
            <div class="col">
              <%= f.label :password %>
              <%= f.password_field :password, class: "form-control", type: "password", placeholder: "Senha" %>
            </div>
            <div class="col">
              <%= f.label :password_confirmation %>
              <%= f.password_field :password_confirmation, class: "form-control", type: "password", placeholder: "Confirme a senha" %>
            </div>
          </div>
          <div class="row justify-content-start mt-4">
            <div class="col">
              <div class="form-check">
                <label class="form-check-label">
                  <%= f.check_box :profile, class: "form-check-input" %>
                  <%= f.label :profile %> de Administrador
                </label>
              </div>
              <%= f.submit class: 'btn btn-success', data: { disable_with: 'Criando....⌛'} %>
              <%= link_to 'Cancelar', dashboard_users_path, class: "btn btn-danger ml-1" %>
            </div>
          </div>
        <% end %>
      </div>
    </div>
  </div>
</section>
