<div class="content-wrapper">
  <%= render partial: "dashboard/shared/breadcrumb", locals: {title: "Usuários"} %>
  <section class="content">
    <div class="container-fluid">
      <div class="row">
        <div class="col-12 col-sm-4 col-md-4">
          <div id="newManufacturer" class="info-box">
            <%= link_to new_dashboard_user_path, class:"btn btn-app bg-success mt-2" do %>
              <i class="far fa-plus-square"></i> Adicionar
            <% end %>
          </div>
        </div>
      </div>
      <div class="table-responsive">
        <table id="userTable" class="table table-hover">
          <thead>
            <tr>
              <th scope="col">Nome</th>
              <th scope="col">Email</th>
              <th scope="col">Perfil</th>
              <th scope="col">Ações</th>
            </tr>
          </thead>
          <tbody>
            <% @users.where.not(email: 'suporte@meucatalogo.art.br').each do |user| %>
                <tr>
                  <td><%= user.name %></td>
                  <td><%= user.email %></td>
                  <td>
                    <%= user.admin? ? 'Administrador' : 'Moderador' %>
                  </td>
                  <td>
                    <%= link_to edit_dashboard_user_path(user), class:"btn btn-info", data: {toggle:"tooltip", placement:"top"}, title:"Editar Usuário" do %>
                      <i class="far fa-edit"></i>
                    <% end %>
                    <% if current_user.id == user.id %>
                      <button class= "btn btn-danger" data-toggle= "tooltip" placement= "top" title= "Excluir Usuário" disabled><i class="far fa-trash-alt"></i></button>
                    <% else %>
                      <%= link_to dashboard_user_path(user), class:"btn btn-danger", method: :delete, data:
                                                         {confirm: "Deseja realmente excluir esse usuário?",
                                                         toggle:"tooltip", placement:"top"}, title:"Excluir Usuário", disabled: true do %>
                        <i class="far fa-trash-alt"></i>
                      <% end %>
                    <% end %>
                  </td>
                </tr>
            <% end %>
          </tbody>
        </table>
      </div>
    </div>
  </section>
</div>
</div>
<script>
  document.addEventListener('turbolinks:load', function() {
    $('#userTable').DataTable({
    language: {
      url: '/packs/pt_br.json'
    }
    });
  });
</script>
