<%= form_with model: [:dashboard, @group] do |f| %>

  <div class="p-4">
      <div class="form-row justify-content-lg-center">
          <div class="form-group col-md-12 col-lg-10">
            <% if Manufacturer.all.size > 0 %>
               <%= f.label :manufacturer_id %>
               <%= collection_select(:group, :manufacturer_id, Manufacturer.all, :id, :description,  {prompt: 'Selecione'}, class: "form-control select2") %>
            <% else %>
              <label> <%= f.label :manufacturer_id %></label>
              <select class="form-control">
                <option>Selecione</option>
                <option>Cadastre um Fabricante</option>
              </select>
            <% end %>
          </div>
      </div>
    
      <div class="form-row justify-content-lg-center">
            <div class="form-group col-md-12 col-lg-10">
              <%= f.label :description %>
              <%= f.text_field :description, class: "form-control" %>
            </div>
        </div>
    
  </div>

  <div class="col-md-12 col-lg-10 offset-lg-1">
    <div class="px-4 mb-4 text-center">
      <%= f.submit class: 'btn btn-success', data: { disable_with: 'Criando....⌛'} %>
      <%= link_to 'Cancelar', dashboard_groups_path, class: "btn btn-danger ml-1" %>
    </div>
  </div>

<% end %>

<script>
  $(document).ready(function() { $("#group_manufacturer_id").select2(); });
</script>
