
<div class="content-wrapper">
  <%= render partial: "dashboard/shared/breadcrumb", locals: {title: "Grupos"} %>
  <section class="content">
    <div class="container-fluid">
      <div class="row">
        <div class="col-12 col-sm-4 col-md-4">
          <div id="newGroup" class="info-box">
            <%= link_to new_dashboard_group_path, remote: true, class:"btn btn-app bg-success mt-2" do %>
              <i class="far fa-plus-square"></i> Adicionar
            <% end %>
          </div>
        </div>
      </div>
      <div class="table-responsive">
        <table id="groupTable" class="table table-hover">
          <thead>
            <tr>
              <th scope="col">#</th>
              <th scope="col">Fabricante</th>
              <th scope="col">Descrição</th>
              <th scope="col">Ações</th>
            </tr>
          </thead>
          <tbody>
            <% @groups.each do |group| %>
              <tr>
                <th scope="row"><%= group.id %></th>
                <td><%= group.manufacturer.description %></td>
                <td><%= group.description %></td>
                <td>
                  <%= link_to edit_dashboard_group_path(group), onclick:"editshow()", remote: true, class:"btn btn-info", data: {toggle:"tooltip", placement:"top"}, title:"Editar Grupo" do %>
                    <i class="far fa-edit"></i>
                  <% end %>
                  <%= link_to dashboard_group_path(group), class:"btn btn-danger", method: :delete, data:
                                                         {confirm: "Tem certeza disso? Ao excluir o Grupo excluirá todos os produtos vinculados",
                                                         toggle:"tooltip", placement:"top"}, title:"Excluir Grupo" do %>
                    <i class="far fa-trash-alt"></i>
                  <% end %>
                </td>
              </tr>
            <% end %>
          </tbody>
        </table>
      </div>
    </div>
  </section>
</div>
</div>
<script>
  document.addEventListener('turbolinks:load', function() {
    $('#groupTable').DataTable(
      {
    language: {
      url: '/pt_br.json'
    }
    }
    );
  });
  
  function editshow() {
  document.getElementById("editGroup").style.display = "flex";
  }
</script>
