<div class="content-wrapper">
  <%= render partial: "dashboard/shared/breadcrumb", locals: {title: "Fabricante"} %>
  <section class="content">
    <div class="container-fluid">
      <div class="row">
        <div class="col-12 col-sm-3 col-md-12">
          <div id="newManufacturer" class="bg-box">
            <%= link_to new_dashboard_manufacturer_path, remote: true, class:"btn btn-app bg-success mt-2" do %>
              <i class="far fa-plus-square"></i> Adicionar
            <% end %>
          </div>
        </div>
      </div>
      <div class="table-responsive">
        <table id="manufacturerTable" class="table table-hover">
          <thead>
            <tr>
              <th scope="col">#</th>
              <th scope="col">Descrição</th>
              <th scope="col">Ações</th>
            </tr>
          </thead>
          <tbody>
            <% @manufacturers.each do |manufacturer| %>
              <tr>
                <th scope="row"><%= manufacturer&.id %></th>
                <td><%= manufacturer&.description %></td>
                <td>
                  <%= link_to edit_dashboard_manufacturer_path(manufacturer), onclick:"editshow()", remote: true, class:"btn btn-info", data: {toggle:"tooltip", placement:"top"}, title:"Editar Grupo" do %>
                    <i class="far fa-edit"></i>
                  <% end %>
                  <%= link_to dashboard_manufacturer_path(manufacturer), class:"btn btn-danger", method: :delete, data:
                                                         {confirm: "Tem certeza disso? Ao excluir o Fabricante excluirá todos os produtos vinculados",
                                                         toggle:"tooltip", placement:"top"}, title:"Excluir Fabricante" do %>
                    <i class="far fa-trash-alt"></i>
                  <% end %>
                </td>
              </tr>
            <% end %>
          </tbody>
        </table>
      </div>
    </div>
  </section>
</div>
</div>
<script>
  //document.addEventListener('turbolinks:load', function() {
    $('#manufacturerTable').DataTable({
    language: {
      url: '/pt_br.json'
    }
    });
  //});
  
  function editshow() {
  document.getElementById("editManufacturer").style.display = "flex";
  }
</script>
