<%= form_with model: [:dashboard, @product] do |f| %>
  <div class="p-4">

    <div class="form-group row justify-content-md-center">
      <label class="col-md-2 col-lg-2 col-form-label"><strong>Buscar foto</strong></label>
      <div class="col-md-10 col-lg-8">
        <div class="custom-file mb-3">
          <%= f.file_field :photo_product, class:" custom-file-input", id:"browse" %>
          <%= f.label :photo_product, class: "custom-file-label" do %>
            Selecione um Arquivo
          <% end %>
        </div>
      </div>
    </div>

    <div class="p-2 mb-2 text-center">
      <h6>Foto do Produto</h6>
      <% if @product.photo_product.attached? %>
        <%= image_tag @product.photo_product.variant(resize_to_limit: [300,500]), class: 'img_prev mt-2', style: 'max-width: 300px; max-height: 500px' %>
      <% else %>
        <%= image_tag("sem-imagem.jpg", class: "img_prev", style: 'max-width: 300px;') %>
      <% end %>
    </div>
    
    <hr>
    
    <div class="form-row justify-content-md-center">
        <div class="form-group col-md-6 col-lg-5">
            <% if Manufacturer.all.size > 0 %>
                <%= f.label :manufacturer_id %>
                <%= collection_select(:product, :manufacturer_id, Manufacturer.all, :id, :description,  {prompt: 'Selecione'}, class: "form-control select2 load_manufacturer") %>
            <% else %>
                <label> <%= f.label :manufacturer_id %></label>
                <select class="form-control" id="">
                    <option>Selecione</option>
                    <option>Cadastre um Fabricante</option>
                </select>
            <% end %>
        </div>
        <div class="form-group col-md-6 col-lg-5">
            <% if Group.all.size > 0 %>
                <%= f.label :group_id %>
                <%= f.select :group_id, {}, {prompt: 'Selecione'}, class: "form-control select2 load_group"%>
            <% else %>
                <label> <%= f.label :group_id %></label>
                <select class="form-control" id="">
                    <option>Selecione</option>
                    <option>Cadastre um Grupo</option>
                </select>
            <% end %>
        </div>
    </div>

    <div class="form-row justify-content-md-center">
        <div class="form-group col-md-6 col-lg-5">
            <% if Family.all.size > 0 %>
                <%= f.label :family_id %>
                <%= f.select :family_id, {}, {prompt: 'Selecione'}, class: "form-control select2 load_family"%>
            <% else %>
                <label> <%= f.label :family_id %></label>
                <select class="form-control" id="">
                  <option>Selecione</option>
                  <option>Cadastre uma Familia</option>
                </select>
            <% end %>
        </div>
        <div class="form-group col-md-6 col-lg-5">
            <% if TaxClassification.all.size > 0 %>
                <%= f.label :tax_classification_id %>
                <%= f.collection_select(:tax_classification_id, TaxClassification.all, :id, :description, {prompt: 'Selecione'}, class: "form-control select2", required: true) %>
            <% else %>
                <label for=""> <%= f.label :tax_classification_id %></label>
                <select class="form-control" id="">
                  <option>Selecione</option>
                  <option>Cadastre uma Classificação</option>
                </select>
            <% end %>
        </div>
    </div>

    <div class="form-row justify-content-md-center">
        <div class="form-group col-md-6 col-lg-5">
          <%= f.label :description %>
          <%= f.text_field :description, class: "form-control", placeholder: 'Meu Produto' %>
        </div>
        <div class="form-group col-md-6 col-lg-5">
          <%= f.label :ean %>
          <%= f.text_field :ean, class: "form-control", placeholder: '7891000061190' %>
        </div>
    </div>

    <div class="form-row justify-content-md-center">
        <div class="form-group col-md-6 col-lg-5">
          <%= f.label :code %>
          <%= f.text_field :code, class: "form-control", placeholder: '123456' %>
        </div>
        <div class="form-group col-md-6 col-lg-5">
          <%= f.label :display %>
          <%= f.text_field :display, class: "form-control", placeholder: '978020137962' %>
        </div>
    </div>

    <div class="form-row justify-content-md-center">
        <div class="form-group col-md-6 col-lg-5">
          <%= f.label :dun %>
          <%= f.text_field :dun, class: "form-control", placeholder: '1845678901001' %>
        </div>
        <div class="form-group col-md-6 col-lg-5">
          <%= f.label :quantitie %>
          <%= f.text_field :quantitie, class: "form-control", placeholder: '24x200' %>
        </div>
    </div>

    <div class="form-check">
      <%= f.check_box :active, class: "form-check-input" %>
      <label class="form-check-label">Produto Ativo</label>
    </div>
    <div class="form-check">
      <%= f.check_box :detach, class: "form-check-input" %>
      <label class="form-check-label" for="exampleCheck1">Produto Destaque</label>
    </div>
    
  </div>

  <div class="px-4 mb-4">
    <%= f.submit class: 'btn btn-success', data: { disable_with: 'Criando....⌛'} %>
    <%= link_to 'Cancelar', dashboard_products_path, class: "btn btn-danger ml-1" %>
  </div>
<% end %>
