<%= form_with model: [:dashboard, @product], class: 'autoload_all' do |f| %>
  <div class="p-4">
    <div class="form-group">
      <label><strong>Buscar foto</strong></label>
      <div class="custom-file">
        <%= f.file_field :photo_product, class:"custom-file-input form-control", id:"browse" %>
        <%= f.label :photo_product, class: "custom-file-label" %>
      </div>
    </div>
    <div class="p-2 mb-2">
      <h6 class="text-center">Foto do Produto</h6>
      <% if @product.photo_product.attached? %>
        <%= image_tag @product.photo_product, class: "img-fluid img-item", title: @product.description %>
        <div id="preview"></div>
      <% else %>
        <%= image_tag 'sem-imagem.jpg', class:"img-fluid img-item" %>
        <div id="preview"></div>
      <% end %>
    </div>
    <hr>
    <div class="row">
      <div class="col-md-6">
        <div class="form-group">
          <%= f.label :manufacturer_id %><br>
          <%= f.collection_select(:manufacturer_id, Manufacturer.all, :id, :description, {prompt: 'Select'}, class: "form-control select2", required: true) %>
        </div>
        <div class="form-group">
          <%= f.label :group_id %><br>
          <%= f.collection_select(:group_id, Group.all, :id, :description, {prompt: "Selecione"}, class: "form-control select2", required: true) %>
        </div>
        <div class="form-group">
          <%= f.label :family_id %><br>
          <%= f.collection_select(:family_id, Family.all, :id, :description, {prompt: "Selecione"}, class: "form-control select2", required: true) %>
        </div>
        <div class="form-group">
          <%= f.label :tax_classification_id %><br>
          <%= f.collection_select(:tax_classification_id, TaxClassification.all, :id, :description, {prompt: "Selecione"}, class: "form-control select2", required: true) %>
        </div>
        <div class="form-group">
          <%= f.label :code %>
          <%= f.text_field :code, class: "form-control", placeholder: '123456' %>
        </div>
        <div class="form-group form-check">
          <%= f.check_box :active, class: "form-check-input" %>
          <label class="form-check-label" for="exampleCheck1">Produto Ativo</label>
        </div>
      </div>
      <div class="col-md-6">
        <div class="form-group">
          <%= f.label :description %>
          <%= f.text_field :description, class: "form-control", placeholder: 'Meu Produto' %>
        </div>
        <div class="form-group">
          <%= f.label :ean %>
          <%= f.text_field :ean, class: "form-control", placeholder: '7891000061190' %>
        </div>
        <div class="form-group">
          <%= f.label :dun %>
          <%= f.text_field :dun, class: "form-control", placeholder: '1845678901001' %>
        </div>
        <div class="form-group">
          <%= f.label :display %>
          <%= f.text_field :display, class: "form-control", placeholder: '978020137962' %>
        </div>
        <div class="form-group">
          <%= f.label :quantitie %>
          <%= f.text_field :quantitie, class: "form-control", placeholder: '24x200' %>
        </div>
        <div class="form-group form-check">
          <%= f.check_box :detach, class: "form-check-input" %>
          <label class="form-check-label" for="exampleCheck1">Produto Destaque</label>
        </div>
      </div>
    </div>
  </div>
  <div class="row">
    <div class="text-center ml-3 mt-2">
      <%= f.submit class: 'btn btn-success', data: { disable_with: 'Criando....⌛'} %>
      <%= link_to 'Cancelar', dashboard_products_path, class: "btn btn-danger ml-1" %>
    </div>
  </div>
<% end %>
<script>
  $(document).ready(function() {
    $('input[type="file"]').on("change", function() {
      let filenames = [];
      let files = this.files;
      if (files.length > 1) {
        filenames.push("Total Files (" + files.length + ")");
      } else {
        for (let i in files) {
          if (files.hasOwnProperty(i)) {
            filenames.push(files[i].name);
          }
        }
      }
      $(this)
        .next(".custom-file-label")
        .html(filenames.join(","));
    });
  });
  
  window.URL    = window.URL || window.webkitURL;
  var elBrowse  = document.getElementById("browse"),
      elPreview = document.getElementById("preview"),
      useBlob   = false && window.URL; // Set to `true` to use Blob instead of Data-URL
  
  // 2.
  function readImage (file) {
  
    // Create a new FileReader instance
    // https://developer.mozilla.org/en/docs/Web/API/FileReader
    var reader = new FileReader();
  
    // Once a file is successfully readed:
    reader.addEventListener("load", function () {
  
      // At this point `reader.result` contains already the Base64 Data-URL
      // and we've could immediately show an image using
      // `elPreview.insertAdjacentHTML("beforeend", "<img src='"+ reader.result +"'>");`
      // But we want to get that image's width and height px values!
      // Since the File Object does not hold the size of an image
      // we need to create a new image and assign it's src, so when
      // the image is loaded we can calculate it's width and height:
      var image  = new Image();
      image.addEventListener("load", function () {
  
        // Concatenate our HTML image info
        var imageInfo = file.name    +' '+ // get the value of `name` from the `file` Obj
            image.width  +'×'+ // But get the width from our `image`
            image.height +' '+
            file.type    +' '+
            Math.round(file.size/1024) +'KB';
  
        // Finally append our created image and the HTML info string to our `#preview`
        elPreview.appendChild( this );
        elPreview.insertAdjacentHTML("beforeend", imageInfo +'<br>');
  
        // If we set the variable `useBlob` to true:
        // (Data-URLs can end up being really large
        // `src="data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAADAAAAA...........etc`
        // Blobs are usually faster and the image src will hold a shorter blob name
        // src="blob:http%3A//example.com/2a303acf-c34c-4d0a-85d4-2136eef7d723"
        if (useBlob) {
          // Free some memory for optimal performance
          window.URL.revokeObjectURL(image.src);
        }
      });
  
      image.src = useBlob ? window.URL.createObjectURL(file) : reader.result;
  
    });
  
    // https://developer.mozilla.org/en-US/docs/Web/API/FileReader/readAsDataURL
    reader.readAsDataURL(file);
    }
  
  // 1.
  // Once the user selects all the files to upload
  // that will trigger a `change` event on the `#browse` input
  elBrowse.addEventListener("change", function() {
  
    // Let's store the FileList Array into a variable:
    // https://developer.mozilla.org/en-US/docs/Web/API/FileList
    var files  = this.files;
    // Let's create an empty `errors` String to collect eventual errors into:
    var errors = "";
  
    if (!files) {
      errors += "File upload not supported by your browser.";
    }
  
    // Check for `files` (FileList) support and if contains at least one file:
    if (files && files[0]) {
  
      // Iterate over every File object in the FileList array
      for(var i=0; i<files.length; i++) {
  
        // Let's refer to the current File as a `file` variable
        // https://developer.mozilla.org/en-US/docs/Web/API/File
        var file = files[i];
  
        // Test the `file.name` for a valid image extension:
        // (pipe `|` delimit more image extensions)
        // The regex can also be expressed like: /\.(png|jpe?g|gif)$/i
        if ( (/\.(png|jpeg|jpg|gif)$/i).test(file.name) ) {
          // SUCCESS! It's an image!
          // Send our image `file` to our `readImage` function!
          readImage( file );
        } else {
          errors += file.name +" Unsupported Image extension\n";
        }
      }
    }
  
    // Notify the user for any errors (i.e: try uploading a .txt file)
    if (errors) {
      alert(errors);
    }
  
  });
</script>
