<div class="content-wrapper">
  <%= render partial: "dashboard/shared/breadcrumb", locals: {title: "Produtos"} %>
  <section class="content">
    <div class="container-fluid">
      <div class="row">
        <div class="col-12 col-sm-3 col-md-12">
          <div id="newProduct" class="">
            <%= link_to new_dashboard_product_path, remote: true, class:"btn btn-app bg-success mt-2" do %>
              <i class="far fa-plus-square"></i> Adicionar
            <% end %>
          </div>
        </div>
      </div>
      <div class="table-responsive">
        <table id="productTable" class="table table-hover">
          <thead>
            <tr>
              <th scope="col">#</th>
              <th scope="col">Familia</th>
              <th scope="col">Descrição</th>
              <th scope="col">Status</th>
              <th scope="col">Em destaque</th>
              <th scope="col">Ações</th>
            </tr>
          </thead>
          <tbody>
            <% @products.each do |product| %>
              <tr>
                <th scope="row"><%= product.id %></th>
                <td><%= product.family.description %></td>
                <td><%= product.description %></td>
                <td><%= product.active? ? "Ativo" : "Inativo" %></td>
                <td><%= product.detach? ? "Sim" : "Não"%></td>
                <td>
                  <button type="button" class='btn btn-success' data-toggle="modal" data-target="#modalIMG_<%= product.id %>">
                    <i class="fas fa-image" data-toggle="tooltip" data-placement="top" title="Visualizar"></i>
                  </button>
                  <%= render 'open_image', product: product %>
                  <%= link_to edit_dashboard_product_path(product), onclick:"editshow()", remote: true, class:"btn btn-info", data: {toggle:"tooltip", placement:"top"}, title:"Editar Produto" do %>
                    <i class="far fa-edit"></i>
                  <% end %>
                  <%= link_to dashboard_product_path(product), class:"btn btn-danger", method: :delete, data:
                                                         {confirm: "Deseja realmente excluir esse produto?",
                                                         toggle:"tooltip", placement:"top"}, title:"Excluir Produto" do %>
                    <i class="far fa-trash-alt"></i>
                  <% end %>
                </td>
              </tr>
            <% end %>
          </tbody>
        </table>
      </div>
    </div>
  </section>
</div>
</div>
