<section class="container mt-5 mb-5">
  <div class="single_product">
    <div class="container-fluid" style=" background-color: #fff; padding: 11px;">
      <div class="row">
        <div class="col-lg-5">
          <div class="image_selected"><%= image_tag @product.photo_product, title: @product.description, class: "img-fluid" %></div>
        </div>
        <div class="col-lg-6 order-3">
          <div class="product_description">
            <nav>
              <ol class="breadcrumb">
                <li class="breadcrumb-item">
                  <%= link_to "#{@product&.family&.group&.description }", group_path(@product&.family&.group) %>
                </li>
                <li class="breadcrumb-item active"><%= @product.family.description %></li>
              </ol>
            </nav>
            <div class="product_name text-center mt-4">
              <span class=" deal-text"><%= @product&.code %> - <%= @product&.description %></span>
            </div>
            <div class="row row-underline">
            </div>
            <div class="row">
              <div class="col-md-12">
                <table class="col-md-12 info-product">
                  <tbody>
                    <tr class="row mt-10">
                      <th class="col-md-4"><span class="p_specification">Ean :</span> </th>
                      <td class="col-md-8">
                        <ul>
                          <li><%= @product&.ean %></li>
                        </ul>
                      </td>
                    </tr>
                    <tr class="row mt-10">
                      <th class="col-md-4"><span class="p_specification">Dun :</span> </th>
                      <td class="col-md-8">
                        <ul>
                          <li><%= @product&.dun %></li>
                        </ul>
                      </td>
                    </tr>
                    <tr class="row mt-10">
                      <th class="col-md-4"><span class="p_specification">Display :</span> </th>
                      <td class="col-md-8">
                        <ul>
                          <li><%= @product&.display %></li>
                        </ul>
                      </td>
                    </tr>
                    <tr class="row mt-10">
                      <th class="col-md-4"><span class="p_specification">Ncm :</span> </th>
                      <td class="col-md-8">
                        <ul>
                          <li><%= @product&.tax_classification&.description %></li>
                        </ul>
                      </td>
                    </tr>
                    <tr class="row mt-10">
                      <th class="col-md-4"><span class="p_specification">Embalagem :</span> </th>
                      <td class="col-md-8">
                        <ul>
                          <li><%= @product&.quantitie %></li>
                        </ul>
                      </td>
                    </tr>
                  </tbody>
                </table>
                <div class="row row-underline">
                  <div class="col-md-6">
                    <span class=" deal-text">Observações :</span>
                  </div>
                  <div class="col-md-6">
                    <a href="#" data-abc="true"> <span class="ml-auto view-all"></span> </a>
                  </div>
                </div>
                <%= sanitize(@product&.note&.gsub("\n", '<br>'))&.html_safe %>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>
  
  

  <section id="recommended_products" class="container">
    <div class="glider-contain">
      <div class="card-deck">
        <div class="glider">
          
          <div>
              <div class="card">
                  <a href="#"><img src="https://via.placeholder.com/232x186.png?Text=232x186 1" title="" alt="" /></a>
                  <div class="card-body">
                      <h5 class="card-title">Nome do produto</h5>
                      <p class="card-text">R$ 799,00</p>
                      <p class="card-text"><small class="text-muted">12x de 66,58 s/juros</small></p>
                  </div>
              </div>
          </div>
          
          <div>
              <div class="card">
                  <a href="#"><img src="https://via.placeholder.com/232x186.png?Text=232x186 2" title="" alt="" /></a>
                  <div class="card-body">
                      <h5 class="card-title">Card title</h5>
                      <p class="card-text">This is a longer card with supporting text below as a natural lead-in to additional content. This content is a little bit longer.</p>
                      <p class="card-text"><small class="text-muted">Last updated 3 mins ago</small></p>
                  </div>
              </div>
          </div>
          
          <div>
              <div class="card">
                  <a href="#"><img src="https://via.placeholder.com/232x186.png?Text=232x186 3" title="" alt="" /></a>
                  <div class="card-body">
                      <h5 class="card-title">Card title</h5>
                      <p class="card-text">This is a longer card with supporting text below as a natural lead-in to additional content. This content is a little bit longer.</p>
                      <p class="card-text"><small class="text-muted">Last updated 3 mins ago</small></p>
                  </div>
              </div>
          </div>
          
          <div>
              <div class="card">
                  <a href="#"><img src="https://via.placeholder.com/232x186.png?Text=232x186 4" title="" alt="" /></a>
                  <div class="card-body">
                      <h5 class="card-title">Card title</h5>
                      <p class="card-text">This is a longer card with supporting text below as a natural lead-in to additional content. This content is a little bit longer.</p>
                      <p class="card-text"><small class="text-muted">Last updated 3 mins ago</small></p>
                  </div>
              </div>
          </div>
          
          <div>
              <div class="card">
                  <a href="#"><img src="https://via.placeholder.com/232x186.png?Text=232x186 5" title="" alt="" /></a>
                  <div class="card-body">
                      <h5 class="card-title">Card title</h5>
                      <p class="card-text">This is a longer card with supporting text below as a natural lead-in to additional content. This content is a little bit longer.</p>
                      <p class="card-text"><small class="text-muted">Last updated 3 mins ago</small></p>
                  </div>
              </div>
          </div>
          
          <div>
              <div class="card">
                  <a href="#"><img src="https://via.placeholder.com/232x186.png?Text=232x186 6" title="" alt="" /></a>
                  <div class="card-body">
                      <h5 class="card-title">Card title</h5>
                      <p class="card-text">This is a longer card with supporting text below as a natural lead-in to additional content. This content is a little bit longer.</p>
                      <p class="card-text"><small class="text-muted">Last updated 3 mins ago</small></p>
                  </div>
              </div>
          </div>
          
          <div>
              <div class="card">
                  <a href="#"><img src="https://via.placeholder.com/232x186.png?Text=232x186 7" title="" alt="" /></a>
                  <div class="card-body">
                      <h5 class="card-title">Card title</h5>
                      <p class="card-text">This is a longer card with supporting text below as a natural lead-in to additional content. This content is a little bit longer.</p>
                      <p class="card-text"><small class="text-muted">Last updated 3 mins ago</small></p>
                  </div>
              </div>
          </div>
          
        </div>
        <button aria-label="Previous" class="glider-prev">«</button>
        <button aria-label="Next" class="glider-next">»</button>
      </div>
    </div>
  </section>

  <script>
    window.addEventListener('load', function(){
        new Glider(document.querySelector('.glider'), {
        // Mobile-first defaults
        slidesToShow: 2,
        slidesToScroll: 1,
        scrollLock: false,
        arrows: {
            prev: '.glider-prev',
            next: '.glider-next'
        },
        responsive: [
            {
            // screens greater than >= 775px
            breakpoint: 775,
            settings: {
                // Set to `auto` and provide item width to adjust to viewport
                slidesToShow: 5,
                slidesToScroll: 'auto',
                //itemWidth: 150,
                duration: 0.25
            }
            },{
            // screens greater than >= 1024px
            breakpoint: 1024,
            settings: {
                slidesToShow: 5,
                slidesToScroll: 1,
                //itemWidth: 500,
                duration: 0.25
            }
            }
        ]
        });
    })
  </script>
