<%= form_with model: [:dashboard, @tax_classification] do |f| %>
  <div class="p-4">
    <div class="form-row justify-content-lg-center">
        <div class="form-group col-md-12 col-lg-10">
          <%= f.label :description %>
          <%= f.text_field :description, class: "form-control" %>
        </div>
    </div>
  </div>

  <div class="col-md-12 col-lg-10 offset-lg-1">
    <div class="px-4 mb-4 text-center">
      <%= f.submit class: 'btn btn-success my-1', data: { disable_with: 'Criando....⌛'} %>
      <%= link_to 'Cancelar', dashboard_tax_classifications_path, class: "btn btn-danger ml-1 my-1" %>
    </div>
  </div>
<% end %>
