<!DOCTYPE html>
<html>
  <head>
    <title>Catalogo - <%= @company.fantasy_name %></title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    <%= stylesheet_pack_tag 'home', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'home', 'data-turbolinks-track': 'reload' %>
  </head>
  <body data-flash-messages="<%= JSON.dump(flash.to_a) %>" class="hold-transition dark-mode sidebar-mini layout-fixed layout-navbar-fixed layout-footer-fixed">
    <%= render 'layouts/shared/header_home' %>
    <%= render 'layouts/shared/navbar_home' %>
    <%= yield %>
  </div>
  <%= render 'layouts/shared/footer_home' %>
</body>
</html>
